.form-group-lg {
  .form-control {
      font-family: $headings-font-family;
      // font-weight: 700;
      // font-style: italic;
      text-transform: uppercase;
      letter-spacing: 0.1em;
  }
}
