
@import 'variables';
$fa-font-path: '../bower_components/font-awesome/fonts';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import 'forms';
@import 'type';
@import 'buttons';
@import 'primary';
@import 'inverse';

.browserupgrade {
  margin: 0.2em 0;
  background: $gray-darker;
  color: $gray-base;
  padding: 0.2em 0;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  // font-weight: 800;

  // font-style: italic;

  letter-spacing: 3px;

}

section,
footer {
  padding-top: 20px;
  padding-bottom: 20px;
}


header {
  background-color: $brand-primary;
  height: 6px;
}

section.hero {
  background-image: url('../images/jeremy-coffee-prototyping.jpg');
  background-position: center center;
  background-size: cover;

  padding: 100px 0;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4 { margin-bottom: 1em; }
}


section.intro {

}

footer {
  padding: 30px 0;
}




/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
