h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &:first-child {
    margin-top: 0;
  }
  font-style: italic;
}

h1, h2,
.h1, .h2 {
  margin-bottom: 0.6em;
  letter-spacing: 3px;
}

h3, .h3 {
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0.6em;
}

h4, .h4 {
  letter-spacing: 2px;
}

h5, .h5 {
  font-style: normal;
  font-weight: 400;
}
