section.hero {
  background-image: url('../images/jeremy-coffee-prototyping.jpg');
  background-position: center center;
  background-size: cover;

  padding: 100px 0;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4 { margin-bottom: 1em; }

  @media (min-width: $screen-md-min) {
    .mc-field-group input { width: 320px; }
  }
}
